<%-include("./layout/header.ejs")%>

<div class="col-10 m-5">

  <form id="searchForm" method="GET">
    <div class="input-group">
      <input type="search" id="searchInput" name="search" class="form-control" placeholder="Search">
      <button type="button" class="btn btn-dark" onclick="submitForm()">Search</button>
    </div>
  </form>


  <div class=" d-flex justify-content-center align-items-center" style="overflow-x:auto;">
    <table  class="table table-light table-striped table-responsive" >
      <tr>
        <th>sl.no</th>
        <th>username</th>
        <th>Date Joined</th>
        <th>email</th>
        <th>status</th>
        <th>Allow/Deny</th>
      </tr>

      <% for (let i = startIndex; i < endIndex && i < user.length; i++) { %>
        <form method="post" action="/admin/customer/edit?id=<%= user[i]._id %>">
          <tr>
            <td><%= i + 1 %></td>
            <td><%= user[i].username %></td>
            <td>
              <%= user[i].created.toLocaleDateString('en-US', {
                month: 'long',
                day: 'numeric',
                year: 'numeric'
              }) %>
            </td>
            <td><%= user[i].email %></td>
            <td class="text-<% if (user[i].isAccess) { %>success<% } else { %>danger<% } %>">
              <% if (user[i].isAccess) { %>Allowed<% } else { %>Disabled<% } %>
            </td>
            <input type="hidden" name="isAccess" value="<% if (user[i].isAccess) { %>false<% } else { %>true<% } %>">
            <td>
              <button type="submit" class="btn btn-<% if (user[i].isAccess) { %>danger<% } else { %>success<% } %>">
                <% if (user[i].isAccess) { %>Deny<% } else { %>Allow<% } %>
              </button>
            </td>
          </tr>
        </form>
      <% } %>
    </table>
  </div>

  <div class="col-12 pb-1" >
    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        <% if (totalPages > 1) { %>
          <% if (currentPage > 1) { %>
            <li class="page-item">
              <a class="page-link" href="/admin/customer?page=<%= currentPage - 1 %>">&laquo; Previous</a>
            </li>
          <% } %>
        
          <% for (let i = 1; i <= totalPages; i++) { %>
            <% if (i === currentPage) { %>
              <li class="page-item active">
                <a class="page-link" href="/admin/customer?page=<%= i %>"><%= i %></a>
              </li>
            <% } else { %>
              <li class="page-item">
                <a class="page-link" href="/admin/customer?page=<%= i %>"><%= i %></a>
              </li>
            <% } %>
          <% } %>
        
          <% if (currentPage < totalPages) { %>
            <li class="page-item">
              <a class="page-link" href="/admin/customer?page=<%= currentPage + 1 %>">Next &raquo;</a>
            </li>
          <% } %>
        <% } %>
      </ul>
    </nav>
  </div>
</div>

<script>
  function submitForm() {
    const searchInput = document.getElementById('searchInput');
    const searchQuery = searchInput.value.trim(); // Get the search term and remove leading/trailing spaces

    if (searchQuery !== '') {
      const actionUrl = `/admin/customer?search=${encodeURIComponent(searchQuery)}`;
      window.location.href = actionUrl; // Redirect to the updated action URL
    }else{
      const actionUrl = `/admin/customer?search=${""}`;
      window.location.href = actionUrl; // Redirect to the updated action URL
    }
  }
</script>

<%- include("./layout/footer.ejs") %>
