<%-include("./layout/header.ejs")%>

  <div class="container">
  <div class="row justify-content-start mt-5">
    <div class="col-lg-6 col-xl-6">
      <div class="card rounded-3">
        <div class="card-body">
          <form action="/admin/product/edit?id=<%=stock._id%>" id="form" method="post" class="px-md-2 m-4" enctype="multipart/form-data">
            <div class="d-flex justify-content-start text-secondary">
              <h4>Edit Product Information</h4>
            </div>
            <hr>

              <div class="mb-2">
                <label class="form-label" for="name">Product Name</label>
                <input type="text" id="name" class="form-control" name="name" value="<%=stock.name%>"
                  placeholder="Enter Product Name" required />
              </div>

              <div class="row mb-2">
                <div class=" col-4">
                  <div class=" form-group">
                    <label for="exampleSelect" class="form-label">Category</label>
                    <select class="form-control" name="category" id="exampleSelect">
                      <% category.forEach((cat)=>{ %>
                        <option value="<%=cat._id%>" <% if(stock.category==cat._id) {%> selected <%}%>
                            >
                            <%= cat.name%>
                              <%})%>
                        </option>

                    </select>
                  </div>
                </div>

                <div class="form-group col-4">
                  <label class="form-label" for="form3Example1q">Sales price</label>
                  <input type="number" id="" class="form-control" value="<%=stock.price%>" name="price" min="0"
                    pattern="^\d+\.\d{2}$" placeholder="0.00" required />
                </div>

                <div class="form-group col-4">
                  <label for="exampleSelect" class="form-label">Color</label>
                  <input type="text" class="form-control" value="<%=stock.color%>" name="color"
                    placeholder="red green blue" required />
                </div>
              </div>
              <div class="col-md-12 form-group text-center">
                <div class="row">
                  <div class="col">
                    <label for="size-6" class="form-label">Size 6:</label>
                    <input type="number" id="size-6" name="size6" value="<%= stock.sizes['6'] %>"
                      class="form-control mb-3" />
                  </div>
                  <div class="col">
                    <label for="size-7" class="form-label">Size 7:</label>
                    <input type="number" id="size-7" name="size7" value="<%= stock.sizes['7'] %>"
                      class="form-control mb-3" />
                  </div>
                  <div class="col">
                    <label for="size-8" class="form-label">Size 8:</label>
                    <input type="number" id="size-8" name="size8" value="<%= stock.sizes['8'] %>"
                      class="form-control mb-3" />
                  </div>
                  <div class="col">
                    <label for="size-9" class="form-label">Size 9:</label>
                    <input type="number" id="size-9" name="size9" value="<%= stock.sizes['9'] %>"
                      class="form-control mb-3" />
                  </div>
                  <div class="col">
                    <label for="size-10" class="form-label">Size 10:</label>
                    <input type="number" id="size-10" name="size10" value="<%= stock.sizes['10'] %>"
                      class="form-control mb-3" />
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <label for="size-11" class="form-label">Size 11:</label>
                    <input type="number" id="size-11" name="size11" value="<%= stock.sizes['11'] %>"
                      class="form-control mb-3" />
                  </div>
                  <div class="col">
                    <label for="size-12" class="form-label">Size 12:</label>
                    <input type="number" id="size-12" name="size12" value="<%= stock.sizes['12'] %>"
                      class="form-control mb-3" />
                  </div>
                  <div class="col">
                    <label for="size-13" class="form-label">Size 13:</label>
                    <input type="number" id="size-13" name="size13" value="<%= stock.sizes['13'] %>"
                      class="form-control mb-3" />
                  </div>
                  <div class="col">
                    <label for="size-14" class="form-label">Size 14:</label>
                    <input type="number" id="size-14" name="size14" value="<%= stock.sizes['14'] %>"
                      class="form-control mb-3" />
                  </div>
                  <div class="col">
                    <label for="size-15" class="form-label">Size 15:</label>
                    <input type="number" id="size-15" name="size15" value="<%= stock.sizes['15'] %>"
                      class="form-control mb-3" />
                  </div>
                </div>
              </div>

              <div class="col-md-12 form-group">
                <label class="form-label" for="">Blurb</label>
                <textarea name="blurb" id="" cols="30" placeholder="Write a Short Description Here"
                  class="form-control resize-none rounded" rows="2" ><%=stock.blurb%></textarea>
              </div>

              <div class="form-group">
                <label class="form-label" for="">Description</label>
                <textarea name="description" id="" cols="30" placeholder="Write Product Description Here"
                  class="form-control resize-none rounded" rows="2" ><%=stock.description%></textarea>
              </div>

              <div class="form-group">
                <label class="form-label" for="">Upload Photos</label>
                <input
                  name="image"
                  class="form-control form-control-file"
                  type="file"
                  multiple="multiple"
                />
              </div>

              <div class="d-flex justify-content-center mt-2">
                <button type="submit" style="background-color: #81a642; width: 200px"
                  class="btn align-items-center p-2">
                  Update Product
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6">
      <%if(stock.image){%>
        <div id="imageCards" class="row">
          <% for (let i = 0; i < stock.image.length; i++) { %>
            <div class="col-4 col-md-4 col-lg-4 col-xl-4 m-2">
              <div class="card" style="width: 100%;">
                <img src="<%= stock.image[i].url %>" class="card-img-top" alt="Image">
                <div class="card-body d-flex justify-content-between">
                  <!-- <a href="#" class="btn btn-sm btn-success fs-6">Update</a> -->
                  <a href="/admin/product/delete/image?id=<%=stock._id%>&publicId=<%= stock.image[i].public_id %>" class="btn btn-sm btn-danger fs-<%= i < 2 ? '6' : 'md-6 fs-lg-6 fs-xl-6' %>">Delete</a>
                </div>
              </div>
            </div>
          <% } %>
      <% } %>
        </div>
      </div>
      
    </div>
  </div>
  
  <%- include("./layout/footer.ejs") %>