<%- include("./layout/header") %>
<style>

    .dataTables_wrapper .dataTables_filter {   
        margin: 1rem 0;
    }

.off:hover {
  background-color: #EEEEEE !important;
  color: #fff !important;
}
.dataTables_wrapper .dataTables_filter {   
        margin: 1rem 0;
    }

    .dataTables_wrapper .dataTables_length {
        margin-top: 1rem;
    }

    .off:hover {
        background-color: #EEEEEE !important;
        color: #fff !important;
    }
</style>
<div class="container-fluid d-flex gap-4 rouneded">
        


    <div style="overflow-y: auto;" class="w-100 d-flex align-items-center align-items-center">

        <div  class="table m-5" >
            <table id="ordersTable" class="table table-light table-striped table-responsive" >
            <thead>
                
                <tr>
                    <th>sl.no</th>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Payment</th>
                    <th>view</th>
                </tr>
                
            </thead>
            
            <tbody>
                    <% for(let i=0;i<orders.length;i++){ %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td><%= users[i].user.username %></td>
                        <td><%=orders[i].order_date.toLocaleDateString('en-US', { 
                            month: 'long', 
                            day: 'numeric',
                            year: 'numeric',}); %></td>
                        <td>$<%= orders[i].total %></td>
                        <td><%= orders[i].order_status %></td>
                        <td><%if(orders[i].payment_method){ %>Cash on delivery<% } %></td>
                        <td><a href="/admin/orderDetails?userId=<%=users[i].user._id %>&orderId=<%= users[i]._id %>" class="btn btn-dark">view</a></td>
                    </tr>
                    <% } %>
                
            </tbody>
        </table>
    </div>
</div >

   
</div>
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<!-- <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    $(document).ready(function () {
        $('#ordersTable').DataTable({
            lengthMenu: [5, 10, 25, 50],
            pageLength: 5,
            ordering: true,
            searching: true,
            paging: true,
            // Other DataTables options go here
        });
    });
</script> -->
<%- include("./layout/footer.ejs") %>